---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Primary from '../components/Primary.astro';
---

<Layout>
	<Header />
	<About />
	<Primary />
	<div class="opened_info">
		<button id="close_info" class="close_info"><svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-xbox-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10 -10 10s-10 -4.477 -10 -10s4.477 -10 10 -10m3.6 5.2a1 1 0 0 0 -1.4 .2l-2.2 2.933l-2.2 -2.933a1 1 0 1 0 -1.6 1.2l2.55 3.4l-2.55 3.4a1 1 0 1 0 1.6 1.2l2.2 -2.933l2.2 2.933a1 1 0 0 0 1.6 -1.2l-2.55 -3.4l2.55 -3.4a1 1 0 0 0 -.2 -1.4" /></svg></button>
		<div class="map">
			<img src="../images/mapa.png" alt="">
			<h1 class="property-name">FireStation</h1>
			<div class="infor-popup">
			<p><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-phone"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg> 632 120 307</p>
			<p><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg> Carrer Amelia Ferrer Armengot <br>12004, Castelló</p>
			<p><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-clock"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 7v5l3 3" /></svg> Lu - Vi: 7:00 - 17:00<br>
				Sab: 7:00 - 13:00</p>
			</div>
		</div>
	</div>
</Layout>

<style>
	.opened_info {
    width: 100%;
    height: 75%;
    background-color: white;
    border-radius: 20px 20px 0 0;

    position: absolute;
    bottom: -150vh;
    left: 0;
    transition: all .7s ease-in-out;
    overflow: hidden;
}

.close_info {
    position: absolute;

    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
}

.map {
    height: 230px;
}

.map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infor-popup {
    font-size: 16px;
    margin-top: 20px;
    padding: 0 24px;
}

.infor-popup p {
    border-top: 1px solid var(--gray_200);
    margin: 2px 0 0;
    padding: 10px 0;
    box-sizing: content-box;
    display: flex;
    align-items: center
}

.infor-popup p svg {
    margin-right: 10px;
}
</style>