---
import Info from '../assets/info-circle.svg';
import MoreInfo from '../assets/more-info.svg';
---

<div class="p-5">
    <h1 class="text-2xl font-bold text-gray-900 uppercase tracking-tight pt-3 pb-3">Firestation</h1>
    <aside class="flex justify-between mt-4 mb-4 items-center">
        <div class="flex gap-3 items-center">
            <Info />
            <div>
                <p class="font-semibold">Informaciónn</p>
                <span class="text-sm text-gray-600">Dirección, Teléfono, Horarios</span>
            </div>
        </div>
         <button id="open-info"><MoreInfo size={32}/></button>
    </aside>
</div>
