<div class="relative">
    <img src="https://go.nordqr.com/89p92c/ff00b67072u.webp" alt="Logo Firestation">
    <img class="absolute top-0 right-0 w-14 object-contain rounded-full mt-3 mr-3" src="../images/logo_firestation.png" alt="Logo Firestation">
</div>