<div class="relative">
    <img src="../images/bg_firestation.webp" class="w-screen h-[300px] object-cover" alt="Logo Firestation">
    <img class="absolute top-0 right-0 w-14 object-contain rounded-full mt-3 mr-3" src="../images/logo_firestation.png" alt="Logo Firestation">
</div>