---
import menuData from './menu.json'; // Ruta correcta del archivo JSON
import X from '../assets/x.svg';
// Acceder a las categorías
const categories = menuData.menu;
---

<div>
  <ul class="flex flex-col place-items-center gap-4 mb-4">
    {categories
      .map(category => (
          <button class="p-3 text-md border rounded-xl border-slate-300 w-[90%] text-slate-700">
            <li>
              <a href={`/category/${category.category.toLowerCase()}`}>{category.category}</a>
            </li>
          </button>
      ))}
  </ul>

  <div id="information" class="absolute w-full h-[75%] bg-slate-50 p-0 rounded-t-2xl overflow-hidden bottom-0 hidden">
    <div id="close-popup" class="absolute top-0 right-0 p-2 cursor-pointer"><X size={32}/></div>
    <img src="../images/mapa.png" alt="Mapa de FireStation">

      <address class="p-5 space-y-4 not-italic">
          <h1 class="text-2xl font-extrabold uppercase">FireStation</h1>
          <!-- Dirección -->
            <div class="flex items-center space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
              <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
              </svg>
              <p>C/ Amelia Ferrer Armengot 12<br>12004 Castellón de la Plana, España</p>
              
            </div>
        
          
          <!-- Teléfono -->
            <div class="flex items-center space-x-2">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-phone"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>
              <a href="tel:+000 000 000" class="hover:text-blue-500">964 000 000</a>
            </div>
        </address>
  </div>
</div>