---
import menuData from './menu.json'; // Ruta correcta del archivo JSON
// Acceder a las categorías
const categories = menuData.menu;
import Close from '../assets/close.svg';
import Phone from '../assets/phone.svg';
import Map from '../assets/map.svg';
import Schedule from '../assets/schedule.svg';
import Info from '../assets/info-circle.svg';
import MoreInfo from '../assets/more-info.svg';
---

<div class="relative">
  <img src="https://go.nordqr.com/89p92c/ff00b67072u.webp" class="w-screen h-[250px] object-fill" alt="Logo Firestation">
</div>


<div class="p-5 my-3">
  <h1 class="text-3xl font-extrabold text-gray-800 uppercase tracking-tight pt-3 pb-3">Firestation</h1>
  <aside class="flex justify-between mt-4 mb-4 items-center">
      <div class="flex gap-3 items-center">
          <Info size={38}/>
          <div>
              <p class="font-semibold">Información</p>
              <span class="text-sm text-gray-600">Dirección, Teléfono, Horarios</span>
          </div>
      </div>
       <button id="open-info"><MoreInfo size={40}/></button>
  </aside>
</div>


<div>
  <ul class="flex flex-col place-items-center gap-4 mb-4">
    {categories
      .map(category => (
          <button class="p-3 text-md border rounded-xl border-slate-300 w-[90%] text-slate-700">
            <li>
              <a class="block" href={`/category/${category.id}`}>{category.category}</a>
            </li>
          </button>
      ))}
  </ul>

  <div id="popup" class="h-[90%] w-full bg-slate-100 absolute rounded-3xl transition-all duration-500 ease-in-out overflow-hidden -left-full">

    <button id="cerrar-popup" class="cursor-pointer absolute top-0 right-0 p-4">
        <Close width={38} height={38} />
    </button>

    
    <div>
        <img src="https://firestation.netlify.app/images/mapa.png" alt="Mapa">
        <div class="p-6 my-6">
            <h1 class="uppercase text-3xl font-extrabold tracking-tighter">firestation</h1>
            <address class="flex flex-col gap-3 mt-6 not-italic">
                <div class="flex items-center gap-4">
                    <Map /> <p>C/ Amelia Ferrer Armengot 12<br>12004 Castellón de la Plana</p>
                </div>

                <div class="flex items-center gap-4">
                    <Phone /> <a href="tel:+34690040694">690 040 694</a>
                </div>

                <div class="flex items-center gap-4">
                    <Schedule /> <p>Lu - Vi: 7:00 - 17:00<br>Sab: 8:00 - 13:00</p>
                </div>
                
            </adress>
        </div>
    </div>
    
</div>
</div>
</div>

<script>
const button = document.querySelector('#open-info') as HTMLElement | null;
const closed = document.querySelector('#cerrar-popup') as HTMLElement | null;

if (button) {
    button.addEventListener('click', () => {
        console.log('Button clicked');
        const popup = document.querySelector('#popup') as HTMLElement | null;
        if (popup) {
            popup.style.left = '0';
            popup.style.bottom = '0';
        }
    });
}

if (closed) {
    closed.addEventListener('click', () => {
        console.log('Closed clicked');
        const popup = document.querySelector('#popup') as HTMLElement | null;
        if (popup) {
            popup.style.left = '-100%';
        }
    });
}

</script>