---
import menuData from './menu.json'; // Ruta correcta del archivo JSON

// Acceder a las categorías
const categories = menuData.menu;
---

<div>
  <ul>
    {categories
      .sort((a, b) => a.id - b.id) // Ordena las categorías por el número de id
      .map(category => (
        <button key={category.id}>
          <li>
            <a href={`/categoria/${category.id}`}>{category.category}</a>
          </li>
        </button>
      ))}
  </ul>
  
</div>
  
<style>
    ul {
        list-style: none;
        padding: 0;
        display: grid;
        place-items: center;
        flex-direction: column;
        gap: 0.7rem;
        margin-bottom: 1.2rem;
    }

    li a {
      display:block;
    }

   


    button {
        padding: .9rem;
        font-size: 1rem;
        border: 1px solid #dadada;
        border-radius: 0.8rem;
        width: 90%;
        text-align: center;
    }
</style>