---
import menuData from './menu.json'; // Ruta correcta del archivo JSON
import X from '../assets/x.svg';
// Acceder a las categorías
const categories = menuData.menu;
---

<div class="">
  <ul>
    {categories
      .sort((a, b) => a.id - b.id) // Ordena las categorías por el número de id
      .map(category => (
        <button key={category.id}>
          <li>
            <a href={`/categoria/${category.id}`}>{category.category}</a>
          </li>
        </button>
      ))}
  </ul>
  <div id="information">
    <button id="close-popup"><X size={32}/></button>
    <img src="../images/mapa.png" alt="Mapa de FireStation">
    <section class="info-popup">
      <h1>firestation</h1>
      <p class="direccion">C/ Amelia Ferrer Armengot</p>
      <p>12004 - Castellóo de la Plana</p>
      <p>964 24 24 24</p>
    </section>
  </div>
</div>
  
<style>
    ul {
        list-style: none;
        padding: 0;
        display: grid;
        place-items: center;
        flex-direction: column;
        gap: 0.7rem;
        margin-bottom: 1.2rem;
    }

    li a {
      display:block;
    }

    button {
        padding: .9rem;
        font-size: 1rem;
        border: 1px solid #dadada;
        border-radius: 0.8rem;
        width: 90%;
        text-align: center;
    }

    #information {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 75%;
        background-color: rgb(250, 250, 250);
        color: rgb(62, 62, 62);
        padding: 0;
        z-index: -1;
        border-radius: 1.3rem 1.3rem 0 0;
        overflow: hidden;

        transition: ease-in-out 0.5s;
    }

    .info-popup h1 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      font-weight: bolder;

    }
    .info-popup {
      padding: 1rem;
    }

    #close-popup {
      width: 100%;
      position: absolute;
      right: 0;
      border: none;
      cursor: pointer;
    }
</style>