<div class="p-5">
    <ul>
        <li class="font-semibold">Bocadillos</li>
        <li class="font-semibold">Tapas</li>
        <li class="font-semibold">Cafes</li>
        <li class="font-semibold">Bebidas</li>
    </ul>
</div>

<style>
    ul {
        list-style: none;
        padding: 0;
        display: grid;
        flex-direction: column;
        gap: 0.7rem;
    }

    li {
        padding: 0.5rem;
        font-size: 1.2rem;
        border: 1px solid #dadada;
        border-radius: 0.8rem;
        
        text-align: center;
    }
</style>