<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style>
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital@0;1&display=swap');
</style>
		<title>Carta Firestation</title>
	</head>

	<body class="flex justify-center items-center w-screen h-full md:h-screen bg-slate-100">

			<div 

					class="
					w-full
					md:w-[400px] 
					md:h-[90%] 
					bg-slate-50 
					md:rounded-3xl 
					shadow-md
					overflow-scroll
					relative
					">
				
					<slot />

			</div>
	</body>
</html>