---
import { ClientRouter} from 'astro:transitions';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<ClientRouter />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>Carta Firestation</title>
	</head>
	<body>
		<div 
		class="
		w-[100%]
		md:w-[400px] 
		md:h-[90%] 
		bg-slate-50 
		md:rounded-3xl 
		shadow-md
		overflow-scroll
		relative
		">
		
			<slot />

		</div>
		<script src="main.js" defer></script>
	</body>
</html>

<style>
	html,
	body {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

		background-color: #f0f0f0;
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100vh;
	}
		@media (width > 768px) {
		body {
			justify-content: center;
			align-items: center;
		}
		}

		.overflow {
			overflow: auto;
		}
</style>